import { styled } from "@/lib/stitches.config"

export const {{pascalCase name}} = () => {
  return (
    <Container>
      <h1>{{pascalCase name}}</h1>
    </Container>
  );
};

const Container = styled("{{as}}")